html, body, #root {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.main {
  background: lightskyblue;
  font-size: 2rem;
  width: 50vw;
  height: 20vh;
  display: grid;
  place-items: center;
  border-radius: 40px;
}